.welimg {
	background-image: url('/atxcap.jpg');
	max-width:100%;
	background-color: rgba(0, 0, 0, 0.5);
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw; /* Full viewport width */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margins */
  padding: 0;
  box-sizing: border-box; /* Prevent width issues with padding/margins */
}

@font-face {
    font-family: 'Martin'; /*a name to be used later*/
    src: url('/VTC-Martin-Regular.ttf') format('truetype');
}

@font-face {
	   font-family: 'HelveticaNeue'; /*a name to be used later*/
    src: url('/HelveticaNeue-BlackCond.otf') format('opentype');
}

@font-face {
	   font-family: 'AcuminBold'; /*a name to be used later*/
    src: url('/Acumin-BdPro.otf') format('opentype');
}

@font-face {
	   font-family: 'AcuminReg'; /*a name to be used later*/
    src: url('/Acumin-RPro.otf') format('opentype');
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

.webtitle {
    margin-top: 0px;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 5em;
    letter-spacing: 1px;
    font-weight: 100;
    font-family: HelveticaNeue, serif;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(167, 28, 28, 0.73);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}


a {
color:#FFF;
}

.readbutton {
  display: inline-block;
  border-radius: 20px;
  background-color: #121212;
  border: none;
  color: #FFF;
  font-family: HelveticaNeue, 'Garamond' 'serif';
  text-align: center;
  font-size: 27px;
  font-weight: bold;
  padding: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px 0;
margin-top: 35px;
}

.readbutton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.readbutton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}


.readbutton:hover span {
  padding-right: 25px;
}

.readbutton:hover span:after {
  opacity: 1;
  right: 0;
}

.classmodule {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.blurb {
	margin-top:10px;
	  text-align: center;
}
.blurb ol {
  display: inline-block;
  text-align: left;
}

.active, .classmodule:hover {
  background-color: #ccc;
}

.classmodule:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.readingssection {
padding: 50px;
padding-top:0px;
	    padding-bottom: 10.5px;
}

#candidacy {
text-align: center;
font-size: 4em;
font-weight:100;
font-family: HelveticaNeue, 'serif';
	margin-bottom: 5px;
    margin-top: 15px;
}

#unitname {
text-align: center;
font-size: 3em;
font-weight:lighter;
font-family: HelveticaNeue, 'serif';
	    margin-top: 10px;
    margin-bottom: 15px;
}

#additional-readings {
text-align: center;
font-size: 4em;
font-weight:100;
font-family: HelveticaNeue, 'serif';
	    margin-top: 10px;
    margin-bottom: 10px;
}

.preread {
text-align: center;
font-size: 25px;
font-family: AcuminBold, 'Garamond', 'serif';
font-style: italic;
font-weight:bold;
}

.classmodule {
text-align: center;
font-size: 20.5px;
font-family: HelveticaNeue, 'Garamond', 'serif';
font-weight:bold;
}

.panel {
text-align: center;
font-size: 20px;
font-family: AcuminReg, 'Garamond', 'serif';
}

/*Additional reading card styling*/
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row 
{margin: 0 -5px 10px 100px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
.readbutton {
  font-size: 18px;
}
}


/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  font-size:25px;
  background-color: #eee;
  margin-bottom:20px;
	font-family:HelveticaNeue,'Garamond', 'serif';
-webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

}

.furtherreadings {
padding:50px;
}

@media (max-width: 700px) {
.furtherreadings {
padding:0px;
}
}



.readtitle {
text-align: center;
font-size:30px;
font-style:italic;
}

.card:hover {
background-color: #777;
color:white;
cursor:pointer;
margin-top:5px;
}

.author {
font-size: 17px;
font-style:italic;
}

@media only screen and (max-width: 620px) {
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  font-size:17px;
  background-color: #eee;
  margin-bottom:15px;
font-family: HelveticaNeue,'Garamond', 'serif';
}

.author {
font-size: 15px;
font-style:italic;
}

}

@media only screen and (max-width: 620px) {
.row{
margin:0px;
}
#additional-readings {
font-size:30px;
text-align: center;
}
	.preread {
font-size:15px;
}

.classmodule {
font-size:13.5px;
}
}

#scrolltotop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(167, 28, 28, 0.73);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrolltotop:hover {
  background-color: #000;
}

@media only screen and (max-width: 620px) {
.blurb {
	font-size:11.5px;
}
.readingssection {
padding:10px;
}
.classreadingdoc{
width:315px;
}
}

.readingssection a {
color:#000;
}
